<whiteboard></whiteboard>

<!-- Tools anchored to top left -->
<div class="tools">
  <div class="tool tool-pan" ng-class="{active: isActiveMode('pan')}" ng-click="setActiveMode('pan')">
    <span ng-include="'../../assets/images/move.svg'"></span>
  </div>
  <div class="tool tool-select" ng-class="{active: isActiveMode('select')}" ng-click="setActiveMode('select')">
    <span ng-include="'../../assets/images/target.svg'"></span>
  </div>
  <div class="tool tool-draw" ng-class="{active: isActiveMode('polyline')}" ng-click="setActiveMode('polyline')">
    <span ng-include="'../../assets/images/curve.svg'"></span>
  </div>
  <div class="tool tool-line" ng-class="{active: isActiveMode('line')}" ng-click="setActiveMode('line')">
    <span ng-include="'../../assets/images/line.svg'"></span>
  </div>
  <div class="tool tool-rectangle" ng-class="{active: isActiveMode('rectangle')}" ng-click="setActiveMode('rectangle')">
    <span ng-include="'../../assets/images/rectangle.svg'"></span>
  </div>
  <div class="tool tool-circle" ng-class="{active: isActiveMode('circle')}" ng-click="setActiveMode('circle')">
    <span ng-include="'../../assets/images/circle.svg'"></span>
  </div>
  <div class="tool tool-ellipse" ng-class="{active: isActiveMode('ellipse')}" ng-click="setActiveMode('ellipse')">
    <span ng-include="'../../assets/images/ellipse.svg'"></span>
  </div>
  <div class="tool tool-text" ng-class="{active: isActiveMode('text')}" ng-click="setActiveMode('text')">
    <span ng-include="'../../assets/images/text.svg'"></span>
  </div>
  <div class="tool tool-erase" ng-class="{active: isActiveMode('erase')}" ng-click="setActiveMode('erase')">
    <span ng-include="'../../assets/images/delete.svg'"></span>
  </div>
</div>

<!-- Tools anchored to bottom left -->
<div class="colors">
  <div colorpicker class="tool tool-color-fill" ng-model="fillColor" color="fill">
    <span ng-include="'../../assets/images/rectangle.svg'"></span>
    <svg width="50" height="50" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
      <circle r="23" cy="25" cx="25" ng-style="{fill: fillColor}" stroke="none" />
    </svg>
  </div>
  <div colorpicker class="tool tool-color-stroke" ng-model="strokeColor" color="stroke">
    <span ng-include="'../../assets/images/line.svg'"></span>
    <svg width="50" height="50" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
      <circle r="23" cy="25" cx="25" ng-style="{fill: strokeColor}" stroke="none" />
    </svg>
  </div>
  <div colorpicker class="tool tool-color-text" ng-model="textColor" color="text">
    <span ng-include="'../../assets/images/text.svg'"></span>
    <svg width="50" height="50" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
      <circle r="23" cy="25" cx="25" ng-style="{fill: textColor}" stroke="none" />
    </svg>
  </div>
</div>

<!-- Tools anchored to top right -->
<div class="whiteboards">
  <h3>Whiteboards</h3>
  <form>
    <div class="form-group">
      <input class="form-control" type="text" placeholder="New whiteboard name" ng-model="newWhiteboardName" ></input>
      <button type="submit" class="btn btn-primary" ng-click="createWhiteboard(newWhiteboardName)">Create whiteboard</button>
    </div>
  </form>
  <ul class="whiteboard-list">
    <li ng-repeat="wb in whiteboards" ng-class="{active: wb.id === activeWhiteboard.id}">
      <span class="whiteboard-name" ng-click="changeWhiteboard(wb.id)">{{wb.name}}</span>
      <span class="whiteboard-delete glyphicon glyphicon-trash" ng-click="deleteWhiteboard(wb.id)"></span>
    </li>
  </ul>
</div>



<!-- TODO: minimap -->
<!-- <minimap></minimap> -->
